# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Build
tmp
build.sh
variables.js
.next/
dist/
build/
out/
.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.idea/
.prettierrc
.prettierrc.js
